*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
    header
    {
    background-color:yellowgreen;
    height: 5em;
    }

    .sidebar{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        padding: 100px;
        }
    

    img {
         padding: 1px; 
        margin-left: 1%;
        margin-top: 0%; 
        float: left;
    }
    /* h1{
         font-size: 150%;
        color:blue;
        text-align: center;
        text-decoration: cadetblue;
        text-shadow: darkblue;
    }
        */
    
.head-tag
{
float: right;
margin-top: 33px;
margin-right: 55px;
    }
    .head-tag a
    {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-decoration: none;
   color: white;
   border: 1px solid white;
   padding: 8px;
   margin-right:8px ;
    }
.head-tag a:hover{
    background-color: cornflowerblue;
    color: black;
    transition: .5s ease-in-out;

}

 body{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center ;
    font-size: 55px;
    font-style: italic;
    color: white;
} 
.bgimage{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.header img{
    width: 170px;
    float:left;
  
}
 /* search box */
/* .input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    padding: 20px;
    margin: auto;
    padding: 2px;
    float: right; */
/* end searchbox */

/* } */

/* .head-tag a:hover{ 
 background-color: white; */
 /* login  */ 
 /* .login-btn{
    width: 100px;
    padding: 10px;
    outline:none !important;
    border:2px solid ,#fff;
    border: radious 50px;
    background:transparent;
    float:right;
    background-color:white;
     */
/* }   */

/* .container h1{
    padding-top: 20px; 
    padding-bottom: 0%;
    font-size: 55px;
    font-style: italic; */
/* }
/* .form-control{
    border: 0 !important;
    border-radius: 5px !important ;
    margin: 3px;
    box-shadow: none !important;
} */
/* .input-group-text-btn{
    width: 100px;
    padding:8px 0;
    outline:none !important;
    border:2px solid ,#fff;
    border: radious 50px;
    background:transparent; */
/* }  */ 
.row{
    display: flex;
    height: 88%;
    align-items: center;

}
.col{
    flex-basis: 50%;

}
/* h1{
    color: #fff;
    font-size: 100px;
    text-align: justify;
    padding: 10%;
} */
/* p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
} */
/* .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border: radius 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover; */

/* } */

/* } */
.login-content{
  text-align: right; 
  font-size: 2em; 
}

/* .login input{
    height: 1.5em;
     color: #000; 
    
     font-size: 50px; 
} */
.login #login-button{
     width: 50%; 
    height: 2em;
    color:black;
    background-color: skyblue;
    border: 1px solid dodgerblue;
    font-size:50px;
}
.login-misc{
    font-size: 6em;

}

/* SIGNUP FORM */
.signup label{
    text-align: justify;
   color:white; 
   font-size: x-large;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signup h6{
    color: white;
}
.signup{
    background-color:royalblue;
    align-content: left;
    height: 30em;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    margin-bottom: 30%;
    padding: 10px;
    background-size: cover;
    box-shadow: 0 10px 50px 0 rgba(95, 69, 247, 0.9),
        0 10px 50px 0 rgba(0, 0, 0, 0.9);
}
.signup h2{
    text-align: center;
    color: white;
    
}
.signup input{
    height: 1.5em;
    color: #000;
    font-size: 20px;
}
.signup #submit-button{
     width: 35%; 
    height: 2em;
    color:black;
    background-color: skyblue;
    border: 1px solid dodgerblue;
    font-size:20px;
    align-items: center;
}
.container{
    margin: 150px auto;
    width: 50%;
    padding: 10px;
    
}

img{
    float: left;
    width: 100px;
    height: 100px;
    padding: 0 10px 0 0;
}
.text{
    text-align: justify;

}


.box{
    align-content: center;
    /* border: 2px solid red; */
    background-color:lightgreen;
     height: 70%;
     top: 30%;
     left: 50%;
     margin-left: 5%; 
    width: 300px;
     margin-top: 10%;
    margin-right: 5%;
    margin-bottom: 25%;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 0 10px 50px 0 rgba(18, 236, 145, 0.9),
        0 10px 50px 0 rgba(0, 0, 0, 0.9);
}

.box h2{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    
}
.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: lightpink;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 5px solid #03674d;
    padding: 14px 10px;
    width: 180px;
    outline: none;
    color:blue;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
width: 270px;
border-color:#645f4dec ;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #03674d;
    padding: 14px 10px;
    /* width: 120px; */
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background:lightgreen;

}